html {
  min-height: 100%;
  position: relative;
  --max-width: 760px;
}

body {
  background: linear-gradient(to bottom, #e1f0eb, #f3f9f7);
  font-family: "Segoe UI", Arial, sans-serif;
  height: 100%;
}

header {
  padding: 10px;
  background-color: #137a63;
}

header h1 {
  color: #FFF;
  font-size: 1em;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 10px;
  text-align: left;
}

.pnl-block {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 40% 60%;
  line-height: 1.5em;
  margin: 0 auto;
  margin-top: 5%;
  max-width: var(--max-width);
  width: 90%;
  height: 500px;
  padding: 20px;
}

.dropdown {
  display: none;
}

.calc-menu {
  background: #F7F7F7;
  padding: 10px;
}

.calc-menu h3 {
  margin: 0;
  padding: 0;
}

.calc-item {
  border-bottom: #DDD 1px solid;
  color: #555;
  padding: 10px;
  list-style: none;
}

.calc-item:not(.active):hover {
  background: #EEE;
  cursor: pointer;
  font-size: 105%;
}

.calc-item span {
  display: none;
}

.calc-item.active {
  color: #137a63;
  cursor: default;
  font-size: 20px;
  height: 45%;
}

.calc-item.active span {
  color: #777;
  font-size: 16px;
  display: block;
  padding-top: 10%;
}

form input {
  border: #DDD solid 2px;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  width: 80%;
}

.result{
  background: #e1f0eb;
  font-size: 1.2em;
  font-style: italic;
  margin: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  .pnl-block {
    grid-template-columns: 100%;
    height: 100%;
    width: auto;
  }
  .calc-menu{
    display: none;
  }
  form {
    width: 100%
  }
  form input {
    width: 90%;
  }
  .dropdown {
    display: block;
    float: left;
    position: relative;
    padding: 5px;
    top: 3px;
  }
  .dropdown i {
    color: #FFF;
    cursor: pointer;
    font-size: 20px;
    float: left;
  }
  .dropdown-menu{
    background: transparent;
    font-size: 12px;
    width: 100%;
    height: 100%;
  }

  .calc-item:not(.active):hover {
    font-size: 12px;
  }

  .calc-item.active{
    font-size: 12px;
  }

  .calc-item.active span{
    display: none;
  }
}